.file-zone {
  background-color:#f1f0f0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-height: 600px;
}

.file {
  width: 600px;
  flex-grow: 1;
  background-color: #fff;
  border: 1px solid #e4e4de;
  padding: 24px;
}

.predefined-text {
  display: flex;
  flex-wrap: wrap;
  color: #333;
}

.file .input {
  width: 611px;
  max-height: 200px;
  margin: 0px;
  height: 94px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}
